<div class="sidebar">
    <a href="#home">Home</a>
    <a class="active" href="#friends">Friends</a>
    <a href="#Group">Group</a>
    <a href="#Activity">Activity</a>
  </div>
  <div class="content">
   <table id="customers">
       <tr>
           <th>Friend Name</th>
           <th>Amount to be paid</th>
           <th>Amount to be received</th>
           <th></th>
           <th></th>
       </tr>
       <tr>
           <td>Missula Meghana</td>
           <td>5000</td>
           <td>3000</td>
           <td><button class="button">Change amounts</button></td>
           <td><button class="button">Settle accounts</button></td>
       </tr>
   </table>
   <br>
   <button class="button">Add Friend</button>
</div>
