<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a class="active" routerLink="/friend-tab">Friends</a>
    <a routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="content">
   <table id="customers">
       <tr>
           <th>Name</th>
           <th>Amount to be paid</th>
           <th>Amount to be received</th>
           <th></th>
           <th></th>
       </tr>
       
       <tr>
        <!-- {% for g in friend %}   -->
        
           <td>{{friend.friend}}</td>
           <td>{{friend.borrowed}}</td>
           <td>{{friend.lent}}</td>
           <td><button class="button">Change amounts</button></td>
           <td><button class="button">Settle accounts</button></td>
        <!-- {% endfor %} -->
        </tr>
       
   </table>
   <br>
   <button class="button" >Add Friend</button>
</div>
