<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a class="active" routerLink="/friend-tab">Friends</a>
    <a routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a routerLink="#">Insights</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="content">
   <table id="customers">
       <tr>
           <th>Name</th>
           <th>Amount to be paid</th>
           <th>Amount to be received</th>
           <th></th>
       </tr>
       <!-- <div> -->
    <ng-container *ngFor="let fr of friend; let i = index">
       <tr>
        <!-- {% for g in friend %}   -->
        
           <td><button (click)="onClick(fr)">
            {{fr.FriendName}}
        </button>
          
        </td>
           <td>{{fr.MoneyBorrowed}}</td>
           <td>{{fr.MoneyGiven}}</td>
           <td><button class="button">Add Transaction</button></td>
           
        <!-- {% endfor %} -->
        </tr>
        <tr>
            <td colspan=4>
            <div *ngIf="show && fr.UserName==detailed_f_name">
                <button class="button">Settle accounts</button><br>
                <div *ngFor="let t of all_details[fr.UserName]['Lent']">
                    {{t}}
                </div>
                <div *ngFor="let t of all_details[fr.UserName]['Borrowed']">
                    {{t}}
                </div>

            </div></td>
        </tr>
    </ng-container>
    <!-- </div> -->
       
   </table>
   <br>
   <a routerLink="/addfriend" class="button">Add Friend</a>  
</div>
