<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/friend-tab">Friends</a>
    <a class="active" routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a routerLink="/insight">Insights</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="content">
        <table id="customers">
            <tr>
                <th>Group Name</th>
                <th>Amount you owe to the group</th>
                <th>Amount the group owes to you</th>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
            <ng-container *ngFor="let g of group; let i = index">
                <tr>
                <td><button class="none" (click)="onClick(g)">
                    {{g[1]}}
                </button></td>
                <td>{{g[2]}}</td>
                <td>{{g[3]}}</td>
                <td>
                    <div *ngFor="let m of members">
                            <div *ngIf="m[0]==g[1]">
                                {{m[1]}}
                            </div>
                    </div>
                    <a routerLink="/member/{{g[1]}}" class="button">Add new member</a></td>
                <td><a routerLink="/transaction" class="button">Add Transaction</a></td>
                
                <td><button class="button">Leave Group</button></td>
            </tr>
            <tr>
                    <td colspan=6>
                    <div>
                        <button class="button">Settle accounts</button><br>
                        <div>
                            t
                        </div>
                        <div>
                            t
                        </div>
        
                    </div></td>
            </tr>
            </ng-container>
        </table>
        <br>
        <form ng-app="myapp" name="myForm" ng-controller="myscope">
        <a routerLink="/groupform" class="button">Add New Group</a> 


        </form>

     </div>
