<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/friend-tab">Friends</a>
    <a class="active" routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
  </div>
  <div class="content">
        <table id="customers">
            <tr>
                <th>Group Name</th>
                <th>Amount you owe to the group</th>
                <th>Amount the group owes to you</th>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{group.group}}</td>
                <td>{{group.lent}}</td>
                <td>{{group.borrowed}}</td>
                <td>{{group.members}}</td>
                <td><button class="button">Settle accounts</button></td>
                <td><button class="button">Leave Group</button></td>
            </tr>
        </table>
        <br>
        <form ng-app="myapp" name="myForm" ng-controller="myscope">
        <button class="button" ng-click="addInput()">Add New Group</button>
        <input type="text" name="input" ng-model="myval.text" required>

        </form>
     </div>
