<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/friend-tab">Friends</a>
    <a class="active" routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="content">
        <table id="customers">
            <tr>
                <th>Group Name</th>
                <th>Amount you owe to the group</th>
                <th>Amount the group owes to you</th>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{group.group}}</td>
                <td>{{group.lent}}</td>
                <td>{{group.borrowed}}</td>
                <td>{{group.members}}<br>
                    <a routerLink="/member" class="button">Add new memeber</a></td>
                <td><button class="button">Settle accounts</button></td>
                <td><button class="button">Leave Group</button></td>
            </tr>
        </table>
        <br>
        <form ng-app="myapp" name="myForm" ng-controller="myscope">
        <a routerLink="/groupform" class="button">Add New Group</a> 


        </form>
     </div>
