<div class="content">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <h1>About myself</h1>
    <h3><b>NAME:</b>Pranshu S Negi<br></h3>
    <h3><b>User ID:</b>Pranshu<br></h3>
    <h3><b>Email ID:</b>pranshu.negi456@gmail.com<br></h3>
</div>
<div class="col-lg-6"><img src="../../assets/img1.jpg" style="width: 50%;"></div>
</div>
<div class="row">
<div class="col-lg-6">
    <a href=#>Other Personal Details</a>
</div>
<div class="col-lg-6">
        <a href=#>Change Profile Picture</a>
</div>
</div>
</div>
</div>
